body {
    background-color: #31363F;
}
.logo {
    background-color:#ffc107;
    border-radius: 50%;
}
.bottom-center {
  position: fixed;
  bottom: 10;
  left: 35%;
}
.larger-card {
  width: 20rem;
}
.lol_pic {
  margin-left: 50%;
  width: 10%;
}