body {
    background-color: rgb(255, 255, 255);
  }
.logo {
    background-color: #FFB8B8;
    border-radius: 50%;
}
.bottom-center {
  position: fixed;
  bottom: 10;
  left: 35%;
  
}
.larger-card {
  width: 20rem;
}
.Transfer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}